@import "tailwindcss";

@theme {
  --color-base-100: oklch(98% 0.002 247.839);
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(92% 0.006 264.531);
  --color-base-foreground: oklch(21% 0.034 264.665);
  --color-primary: oklch(83% 0.128 66.29);
  --color-primary-foreground: oklch(26% 0.079 36.259);
  --color-secondary: oklch(83% 0.128 66.29);
  --color-secondary-foreground: oklch(26% 0.079 36.259);
  --color-accent: oklch(78% 0.115 274.713);
  --color-accent-foreground: oklch(25% 0.09 281.288);
  --color-neutral: oklch(37% 0.034 259.733);
  --color-neutral-foreground: oklch(98% 0.002 247.839);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-foreground: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-foreground: oklch(98% 0.018 155.826);
  --color-destructive: oklch(59% 0.249 0.584);
  --color-destructive-foreground: oklch(97% 0.014 343.198);
}

:root {
  background-color: var(--color-base-200);
  color: var(--color-foreground);
}

body,
html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
