@import "tailwindcss";

@theme {
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-foreground: oklch(20% 0 0);
  --color-primary: oklch(80% 0.114 19.571);
  --color-primary-foreground: oklch(25% 0.092 26.042);
  --color-secondary: oklch(80% 0.105 251.813);
  --color-secondary-foreground: oklch(28% 0.091 267.935);
  --color-accent: oklch(81% 0.117 11.638);
  --color-accent-foreground: oklch(27% 0.105 12.094);
  --color-neutral: oklch(20% 0 0);
  --color-neutral-foreground: oklch(98% 0 0);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-foreground: oklch(97% 0.014 254.604);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-foreground: oklch(98% 0.018 155.826);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-foreground: oklch(98% 0.016 73.684);
  --color-destructive: oklch(57% 0.245 27.325);
  --color-destructive-foreground: oklch(97% 0.013 17.38);
}

:root {
  background-color: var(--color-base-200);
  color: var(--color-foreground);
}

body,
html,
#root {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

a.active {
  color: var(--color-primary);
  font-weight: 700;
}